/* .stall-info{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 100px;
}

.stall-1{
    width: 90%;
} */
/* Stalls.css */

.container {
    max-width: 900px;
    margin: auto;
}

.stall-info {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.stall-1 {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.stall-info h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.stall-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-success {
    padding: 10px 20px;
    font-size: 16px;
}